html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}


.container {
    justify-content: center;	
    min-height: 50vh;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 40px 1fr;

    .error {
        grid-column: span 3;
        text-align: center;
        line-height: 40px;
    }

    .input {
        &-format {
            textarea {
                width: 100%;
                height: 100%;
            }
        }
    }

    .controls {
        div {
            padding: .5em;
        }
    }
}